@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Dongle:wght@300;400;700&family=Josefin+Sans:wght@100;200;300;400;500;600&family=Lato:wght@400;700;900&family=Lora:wght@400;600&family=Outfit:wght@100;300;400;500;600;700;800&family=Poppins:ital,wght@0,300;0,400;0,800;1,300;1,700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
 h1,h4,p,a{
   color: #ffe;
   text-decoration: none;
   text-shadow: 4px 2px 10px rgba(220, 200, 200, 0.4);
 }
body {
  margin: 0;
  font-family: 'Outfit', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
}

ul{
  list-style-type: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn{
  padding: 12px 32px;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: transparent;
  color: #ffe;
  cursor: pointer;
  border: 1px solid #ffe;
  text-decoration: none;
}

.btn-light{
  background: rgba(255, 255, 255, 0.2);
}


.btn:hover{
  background: rgba(255, 255, 255, 0.2);
}
